.is-negative {
     color: #ED4337;
     font-weight: bold;
}

.is-responsive {
overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.fa.is-default-budget {
     color: #23d160;
}
